################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NetflixService/node_modules
/NetflixService/obj
/NetflixService/daemon
/NetflixService/bin
/NetflixSSL/bin/Debug/netcoreapp2.2
/NetflixSSL/obj
/packages
/UnitTestProject1/bin/Debug/netcoreapp2.2
/UnitTestProject1/obj
