################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NetflixService/node_modules
/NetflixService/daemon
/packages
bin/
obj/